---
layout: base
title: Hello World
---

<style>
    {% capture patterns__styles %}
        {% include patterns.scss %}
    {% endcapture %}

    {{ patterns__styles | scssify }}
</style>

<main role="main">
    <h1>Patterns</h1>
    <nav>
        <ul>
            {% assign components = site.pages | where: 'dir', '/patterns' | sort: 'group' %}

            {% for component in components %}
                <li><a href="#component__{{ component.title | slugify }}">{{ component.title }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    <ul class="pattern__components">
        {% for component in components %}
            <li id="component__{{ component.title | slugify }}" class="pattern__component">
                <div class="content">
                    <h2>{{ component.title }}</h2>
                    <a href="{{ component.url }}" class="pattern__link"></a>
                    {{ component.description | markdownify }}
                    <div class="pattern__component__example">
                        {{ component.content }}
                    </div>
                    <div class="highlight">
                        <pre><code>{{ component.content | xml_escape }}</code></pre>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</main>